body {
    font-family: Arial, sans-serif;
    line-height: 1;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    background-color: #00000070;
    backdrop-filter: blur(20px);
    width: 100%;
    color: #fff;
    padding: 19px;
    text-align: center;
    z-index: 9;
}

main {
    padding: 19px;
    margin: 0px auto;
    margin-top: 120px;
    margin-bottom: 60px;
    max-width: 1200px;
}

.news {
    background-color: #fff;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
}

.news img {
    width: 100%;
    height: auto;
}

.news h2 {
    margin: 20px;
    color: #333;
}

.news p {
    padding: 0 10px 10px;
    color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
